.bground-green {
    background-color: #263F3C;
}

.text-white {
    color: white;
}

.page-content {
    position: relative;
    /* top: 50px; */
}

.bground-light-green {
    background-color: #D7E0CA
}

#google-form-container {
    overflow: hidden; /* Ensure content doesn't spill out */
    /* background-color: aquamarine; */
    /* border: solid orange; */
    padding-bottom: 200px;
}

#google-form { 
    width: 100vw; /* Make full viewport width */
    height: calc(100vh - 20px); /* Consider height adjustments */
    border: none;
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.call-out-section {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-out {
    width: 100%;
    height: 100%;
    background-color: #62a2be;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form-description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    #google-form {
        transform: scale(1.2); /* Increase scale for smaller screens */
        width: calc(100vw / 1.2); /* Compensate for scale impact on width */
        /* height: calc(100vh / 1.2);  */
        margin-bottom: 50px;
        height: 100vh;
    }
}

@media (min-width: 1300px) {
    .page-content {

    }
    /* .form-content-container {
        max-width: 1800px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        grid-column-gap: 0;
        justify-content: center;
    } */

    .call-out-section {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-out {
        width: 100%;
        height: 100%;
        background-color: #62a2be;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #contact-form-description {
        grid-column: 1;
        /* width: 500px; */
        height: 300px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #google-form-container {
        grid-column: 2;
        height: 700px;
        overflow: auto;
        /* width: 100%;
        max-width: 100%; */
        /* display: flex; */
        /* align-items: stretch; */
        /* justify-content: stretch; */

    }
    #google-form {
        width: 100%;
    }
    iframe {
        width: 100%;
    };


}
/* HEADER IMAGE */
.header-image-container > img {
    width: 100vw;
    height: 100%;
    
}

.header-image-container {
    height: 150px;
    background-image: url('https://www.dropbox.com/scl/fi/hhldhrw1536i14pmr2uu1/03-150x414.jpg?rlkey=g98yrrqgv562hvsih3uyyl5u7&st=jn8heloa&raw=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-image-tablet {
    display: none;
}
.header-image-desktop {
    display: none;
}
.header-image-mobile {
    display: block;
}

@media only screen and (min-width: 414px) and (max-width: 1023px) {
    .header-image-container {
        height: 200px;
        background-image: url('https://www.dropbox.com/scl/fi/dlqsgxx0h6926uzwv9hmi/03-768x200.jpg?rlkey=nvry5cxfyh968t5u8n9b2tn7x&st=bm5a1tnj&raw=1');
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header-image-tablet {
        display: block;
    }
    .header-image-desktop {
        display: none;
    }
    .header-image-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .header-image-container {
        height: 300px;
        background-image: url('https://www.dropbox.com/scl/fi/rpxf3sj7mpipxloalxksf/03-1440x300.jpg?rlkey=5vgld86pat41yjjyrp3t101hk&st=3wm6yc8k&raw=1');
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* max-width: 1440px; */
        justify-self: center;
    }
    .header-image-tablet {
        display: none;
    }
    .header-image-desktop {
        display: block;
    }
    .header-image-mobile {
        display: none;
    }
}
