.nav-bar {
    display: flex;
    justify-content: space-evenly; /* Distributes all elements equally including the sides */
    align-items: center;
    background-color: #ffffff; /* Background color for the nav-bar */
    padding: 10px 0; /* Padding for top and bottom */
    height: 95px;
    width: 100%;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.nav-bar a {
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 10px 20px; /* Padding for each link */
    font-size: 24px;
    font-weight: bold; /* Optional font weight for styling */
}

body {
    background-color: D7E0CA;
}