.logo {
    /* width: 480px;
    padding-left: 40px; */
}
.nav-bar {
    display: flex;
    justify-content: space-evenly; /* Distributes all elements equally including the sides */
    align-items: center;
    background-color: #ffffff; /* Background color for the nav-bar */
    padding: 10px 0; /* Padding for top and bottom */
    height: 95px;
    width: 100%;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
}
.body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
.nav-bar a {
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 10px 20px; /* Padding for each link */
    font-size: 24px;
}

.nav-bar a:hover {
    font-weight: 300; 
}

.nav-bar .current-page {
    font-weight: 500; 
}

.services-body {
    background-color: white;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form iframe {
    width: 100%;
    height: 1300px;
}



.service-logo {
    width: 180px;
}

.undergrad-service-title {
    border: black solid;
    border-bottom: none;
    padding-bottom: 10px;
    text-align: center;
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 10px 20px; /* Padding for each link */
    font-size: 24px;
}

.undergrad-services-description {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 10px 20px; /* Padding for each link */
    font-size: 24px;

}

.separators {
    display: flex;
}
.separator {
    border: red solid;
    width: 33%;
}

.hidden {
    display: none;
}

.grad-service {
    display: flex;
    flex-direction: row;
    height: 300px;
}
.icon-section {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-section img {
    padding: 15px;
    height: 280px;
}
.description-section {
    width: 75%;
    padding-top: 20px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-left-20 {
    padding-left: 20px;
}

.icon-section img {
    aspect-ratio: 16/12;
}
.bground-green {
    background-color: #263F3C;
}
.text-white {
    color: white;
}
.font-40 {
    font-size: 40px;
}
.font-20 {
    font-size: 20px;
}

.bground-white {
    background-color: white;
}
.bground-light-green {
    background-color: #D7E0CA
}
.text-green {
    color: #263F3C;
}
.filter-white {
    filter: invert(100%) brightness(100%);
}
.filter-green {
    filter: 
    invert(32%) 
    sepia(29%) 
    saturate(51%) 
    hue-rotate(134deg) 
    brightness(89%) 
    contrast(99%); 
}
.undergrad-services-section {
    display: flex;
    flex-direction: column;

}
.icons{
    display: flex;
    flex: 1 0 33%;
    justify-content: space-around;
}
.icons div {

    width: 33%;
    display: flex;
    justify-content: center;
}
.selected-icon {
    /* border-left: solid #263F3C;
    border-top: solid #263F3C;
    border-right: solid #263F3C; */
    /* border-width: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons img {
    height: 200px;
}
.undergrad-title {
    margin-top: 20px;
}
.service-description {
    position: relative;
    padding: 20px;
    /* border-bottom: solid #263F3C;
    border-left: solid #263F3C;
    border-right: solid #263F3C;
    border-top: solid #263F3C; */
    /* border-width: 1px; */
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px; */
}
/* .service-description::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    height: 0;
    width: 100%;
} */
/* .service-description::after {
    content: '';
    position: absolute;
    top: -3px; 
    left: 33.6666%; 
    width: 32.6666%; 
    height: 3px; 
    background-color: white; 
} */
.service-descriptions {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;

    /* padding: 15px; */

    /* border-width: 2px; */
    position: relative;
    
        /* border: solid; */
    /* border-color: #263F3C; */
}

/* .service-descriptions::after {
    content: ''; 
            top: 0;
            left: 33.33%; 
            width: 33.33%; 
            border-top: 2px solid red; 
} */
.service-descriptions { 
    /* border-left: 10px solid #263F3C; */
}

/* .undergrad-services-section {

    display: flex;
    justify-content: space-between;
    width: 100%;
}
.undergrad-services-section > * {
    flex: 1 1 33%;
    box-sizing: border-box;
    padding: 10px; 
    text-align: center;
} */


.uncommon-logo {
    background-color: #D7E0CA;
    /* width: 100%; */
}

.uncommon-logo img {
    width: 480px;
    padding-left: 40px;
}

.top-image img {
    width: 100%;
    /* height: 474px; */
}

.call-out-section {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-out {
    width: 70%;
    height: 115px;
    background-color: #F7F3EB;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#viewportCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make sure the canvas doesn't block other elements */
}

.contact-section {
    display: flex;
    justify-content: space-between;
}
.contact-section div {
    width: 50%;
    padding-top: 30px;
}
.padding-top-20 {
    padding-top: 20px;
}
.home-text-section {
    /* width: 40%; */
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
}
.margin-top-40 {
    margin-top: 40px;
}
.home-section {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
}
.home-image-section {
    height: 450px;
    display: flex;
    align-items: center;
}
.home-image-section img {
    height: 110%;
}
.service-read-more {
    justify-self: end;
    text-decoration: underline;
}
.padding-right-40 {
    padding-right: 40px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.home-text{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.home-text-left {
    margin-right: 20px;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
.justify-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns all children to the right */
    align-items: end; /* Vertically centers the items, if desired */
    text-align: right; /* Ensures text is aligned to the right */
}
.home-page-read-more-button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    align-self: center;
    font-weight: 700;
    font-size: 25px;
}
.home-section-contact-us {
    height: 300px;
    background-image: url('/Users/kyril.remillard/Cleo /Elena Polenova Website/images/firefly.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page-contact-us-button {
    font-size: 50px;
    width: 500px;
    height: 150px;
    border-radius: 45px;
}
.banner-image {
    width: 100%;
    height: 300px;
    /* background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
    overflow: hidden; /* Hides the overflow of the image */
    position: relative;

}
.banner-image > img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    position: absolute;
    top: 50%;  /* Centers along the vertical axis */
    left: 50%; /* Centers along the horizontal axis */
    transform: translate(-50%, -50%);
}

.contact-section {
    background-image: url('/Users/kyril.remillard/Cleo /Elena Polenova Website/images/firefly.jpg');
    background-size: auto; /* Scale image to cover the container */
    background-position: center; /* Center the image within the container */
    background-repeat: no-repeat;
    height: auto;
}
.home-body {
    background-color: #D7E0CA;
}

.contact-text-description {
    padding: 30px;
    /* width: 70%; */
    border-radius: 30px;
}

.font-100 {
    font-size: 100px;
}


/* Footer CSS */
.footer-image {
    height: 300px;
    width: 100%;
}
.footer-bar {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #ffffff; /* Background color for the nav-bar */
    padding: 10px 0; /* Padding for top and bottom */
    height: 95px;
    width: 100%;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
}
.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.footer-column > a {
    margin: 15px;
    color: black; 
    text-decoration: none; 
    font-size: 24px;
}
.footer-bar .current-page {
    font-weight: 500; 
}
.footer-bar a:hover {
    font-weight: 300; 
}