@media only screen and (min-width: 375px) and (max-width: 425px) {
    .home-section-main-title.h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 374px) {
    .home-section-main-title.h1 {
        font-size: 30px;
    }
}


.centered {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns all children to the right */
    align-items: center; /* Vertically centers the items, if desired */
    text-align: center; /* Ensures text is aligned to the right */
}

.bground-green {
    background-color: #263F3C;
}
.text-white {
    color: white;
}
.bground-white {
    background-color: white;
}
.bground-light-green {
    background-color: #D7E0CA
}
.text-green {
    color: #263F3C;
}



.desktop {
    display: none;
}

/* .home-text-section {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
} */

.home-section {
    max-width: 1440px;
    justify-self: center;
}
.home-section-text-section-main-text {
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-size: 16px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.home-section-text-section {
    padding-left: 40px;
    /* padding-top: 10px; */
    padding-bottom: 40px;
    padding-right: 40px;
    font-size: 16px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.home-section-title {
    padding-right: 40px;
    padding-left: 40px;
    /* font-size: 30px; */
    padding-bottom: 30px;
    padding-top: 40px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.home-section-title.why-uncommon {
    padding-right: 0px;
    padding-left: 0px;
    /* font-size: 30px; */
    padding-bottom: 30px;
    padding-top: 40px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.home-section-main-title {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.home-read-more {
    font-style: italic;
    text-decoration: underline; 
    padding-top:24px;
}
.home-section-main-title.h1 {
    margin-bottom: 30px;
}
@media only screen and (min-width: 990px) {
    
    .home-text-section {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 40px;
    }
    .home-section-text-section-main-text {
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-right: 40px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
    }

    .home-main-image {
        padding-left: 80px;
    }
    .home-main-image > img {
        height: 700px;
        box-shadow: 5px 5px white;
    }
    .home-section-text-section {
        padding-left: 40px;
        /* padding-top: 10px; */
        padding-bottom: 40px;
        padding-right: 40px;
        font-size: 24px;

    }
    .home-section-title {
        padding-right: 40px;
        padding-left: 40px;
        font-size: 60px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .home-section-main-title {
        padding-right: 40px;
        padding-left: 40px;
        font-size: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Aligns all children to the right */
        align-items: center; /* Vertically centers the items, if desired */
        text-align: center; /* Ensures text is aligned to the right */
        padding-bottom: 30px;
    }
    
    .home-section {
        display: flex;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .home-text{
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 10px;
    }
    .home-text-left {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .desktop {
        display: flex;
    }
}



/* HEADER IMAGE */
.header-image-container > img {
    width: 100vw;
    height: 100%;
    
}

.header-image-container {
    height: 150px;
    background-image: url('https://www.dropbox.com/scl/fi/kvqpk4jb0fwitsgmaytat/02-150x414.jpg?rlkey=rl7an6920ktkkl221yjhgjl2u&st=8jzmjlwu&raw=1');
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-image-tablet {
    display: none;
}
.header-image-desktop {
    display: none;
}
.header-image-mobile {
    display: block;
}

@media only screen and (min-width: 414px) and (max-width: 1023px) {
    .header-image-container {
        height: 200px;
        background-image: url('https://www.dropbox.com/scl/fi/i49lv2dopy8n6hmc4s1zb/02-768x200.jpg?rlkey=lk26npalke9pxmf3s6gate643&st=u7oygndu&raw=1');
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header-image-tablet {
        display: block;
    }
    .header-image-desktop {
        display: none;
    }
    .header-image-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .header-image-container {
        height: 300px;
        background-image: url('https://www.dropbox.com/scl/fi/y2h8ic54ak3fnn7qjw8z3/02-1440x300.jpg?rlkey=0xhxsu2houeohr6mnspxvcv97&st=knuzfrhn&raw=1');
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* max-width: 1440px; */
        justify-self: center;
    }
    .header-image-tablet {
        display: none;
    }
    .header-image-desktop {
        display: block;
    }
    .header-image-mobile {
        display: none;
    }
}
